body{
    background-image: url("../img/madrid1.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
}

#titulo{
    color: tomato;
}

p{
    margin: 100px;
}

p.texto{
    color: blue;
}

p.especial{
    color: green;
}

