@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat',
    sans-serif;
}

/*---------- HEADER ----------*/
body{
    margin: 0;  
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container{
    width: 100%;
}

header{
    background-image: url("../img/tarta.jpg"), linear-gradient(90deg, rgba(0,0,0,0),rgba(0,0,0,0.4));
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid red;
    width: 90%;
}

a.nav{
    text-decoration: none;
    color: red;
    font-variant: small-caps;
    font-size: larger;
    padding: 1em;
    width: 100%;
    text-align: center;
}

/*---------- SECTION ----------*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

h1.section{
    color: red;
    font-size: xx-large;
    font-variant: small-caps;
    border-bottom: 1px solid red;
    width: 90%;
    margin-bottom: 0;
}

p.section{
    width: 90%;
}

/*---------- CARD CONTAINER ----------*/
.cardContainer{
    background-image: url("../img/cafe.jpg");
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.cardContainer h2{
    color: red;
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    margin-bottom: 0;
}

.cardContainer p{
    color: white;
    text-align: justify;
    width: 90%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 20em;
    border-radius: 20px;
    box-shadow: 0 0 20px black; 
    margin: 3em 1em 5em 1em;  
    padding-bottom: 1em;
}

.image{
    width: 7em;
    margin-top: -2em;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.card h3{
    font-variant: small-caps;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0;
}

.card p{
    color: black;
    text-align: center;
}

/*---------- SECTION 2 ----------*/
.secondSection p{
    width: 90%;
}

/*---------- FOOTER ----------*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
}

div.footer{
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    padding: 1em;
}

.quienesSomos{
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    color: white;
    text-align: center;
}

.quienesSomos p{
    text-align: justify;
    margin: 0;
}

.redes{
    display: grid;
    text-align: center;
    gap: 1em;
    color: white;
}

.redes a{
    text-decoration: none;
    color: white;
    margin: 0;
}

.redes img{
    width: 1em;
}

.contacto{
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    text-align: center;
    color: white;
}

.contacto img{
    width: 1em;
}

.contacto p{
    margin: 0;
}

.bottom{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.bottom a{
    color: white;
    text-decoration: none;
    padding: 1em;
}

/*---------- RESPONSIVE ----------*/
@media (min-width: 528px) {
    /*---------- HEADER ----------*/
    nav{
        flex-direction: row;
        justify-content: right;
    }

    a.nav{
        width: auto;
        padding-bottom: 0.5em;
    }

    /*---------- SECTION ----------*/
    h1.section{
        max-width: 28em;
    }

    p.section{
        max-width: 56em;
    }

    /*---------- CARD CONTAINER ----------*/
    .cardContainer p{
        max-width: 30em;
        text-align: center;
    }

    .card{
        width: 20em;
    }

    /*---------- SECTION 2 ----------*/
    .secondSection p{
        max-width: 56em;
    }

    /*---------- FOOTER ----------*/
    div.footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        max-width: 50em;
        column-gap: 2em;
    }

    .quienesSomos{
        text-align: justify;
        gap: 0;
    }

    .redes{
        text-align: justify;
        gap: 0;
    }

    .contacto{
        text-align: justify;
        gap: 0;
    }

    .bottom{
        flex-direction: row;
        justify-content: flex-end;
    }

    .bottom a{
        padding: 0 1em;
        margin: 1em 0;
    }

    .bottom #politica{
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
}