ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


h1 {
  text-align: center;

}

#h2 {
  background-color: blue;
  width: 100%;
  text-align: center;
}

.caja {
  height: 200px;
  width: 200px;
}

.caja1 {
  background: red;
  margin-bottom: 10px;
}

.caja2 {
  background: blue;
  margin-bottom: 10px;

}

.caja3 {
  background: yellow;
  margin-bottom: 10px;
}

.caja_gris {
  height: 100px;
  width: 100px;
  background-color: grey;
  margin-bottom: 10px;
}